modules = ["nodejs-22"]

entrypoint = "apps/api/src/index.ts"
run = "pnpm preview"

[[ports]]
localPort = 3001
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
build = ["pnpm", "build"]
run = ["pnpm", "start"]
